:root {
    --accent-color: #800000;
    --light-menu-color: white;
    --mid-menu-color: antiquewhite;
    --dark-menu-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid var(--accent-color);
    background-color: #fffded;
}

a {
    color: var(--accent-color);
}

a:hover,
a:focus {
    color: green;
}

header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid var(--accent-color);
    background: linear-gradient(
        30deg,
        #f6bb73 0%,
        #f6bb73 30%,
        white 50%,
        #f6bb73 80%,
        #f6bb73 100%
    );
}

header img {
    float: left;
    padding: 0 30px;
}

header h2 {
    font-size: 175%;
    color: var(--accent-color);
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow {
    text-shadow: 2px 2px 2px var(--accent-color);
}

.navbar {
    background-color: var(--accent-color);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu > li {
    flex-basis: 20%;
    text-align: center;
    position: relative;
}

.navbar a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--light-menu-color);
    margin: 0 1px 2px 1px;
}

.navbar a:hover,
.navbar a:focus,
.navbar a.current {
    background-color: var(--mid-menu-color);
    color: var(--dark-menu-color);
}

.menu > li small {
    margin-left: .35em;
}

.submenu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--accent-color);
    display: none;
    z-index: 1000;
}

.menu > li:hover > .submenu {
    display: block;
}

.submenu > li a {
    margin: 0 2px 2px;
}

.menu > li:first-child a {
    margin-left: 0;
}

.menu > li:last-child a {
    margin-right: 0;
}

main {
    clear: left;
    display: flex;
}

aside {
    width: 30%;
    padding: 1.5em 0 0 1.5em;
}

aside h2 {
    color: var(--accent-color);
    margin-bottom: .5em;
}

aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

aside img {
    padding-bottom: 1em;
    width: 100px;
}

section {
    width: 70%;
    padding: 1.5em 2em 2em 2em;
}

section h1 {
    font-size: 150%;
    color: var(--accent-color);
    padding-bottom: .5em;
}

section h2 {
    font-size: 130%;
    padding: .5em 0;
}

section h3 {
    font-size: 110%;
    padding-bottom: .5em;
}

section p {
    padding-bottom: .75em;
}

section blockquote {
    font-style: italic;
    padding: 0 2em 1em 2em;
}

article img {
    float: right;
    margin: .5em 0 1em 1em;
    border: 1px solid black;
}

.speaker img {
    max-width: 250px;
    float: right;
    margin: 0 0 1em 1em;
    border: 1px solid black;
}

.circle {
    list-style-type: circle;
    margin-left: 2em;
}

footer {
    clear: both;
    border-top: 3px solid var(--accent-color);
    background-color: var(--accent-color);
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}